<!DOCTYPE html>
<html lang="en-US" dir="ltr">
	<head>
		<title>Registration</title>
		<meta charset="utf-8">
		<meta name="author" content="Thomas Liang (zl34)">
	</head>
    <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm" class = "authForm">
      <div class="form-group">
      Account name<br>
			<input class="form-control" type = "text" formControlName="accountName"><br>
      </div>  
      <div class="alert" *ngIf="!registrationForm.controls['accountName'].valid && registrationForm.controls['accountName'].touched">Acccount name must begin with a letter</div>
      <div class="form-group">
        Display name <br>
			<input type = "text" formControlName="displayName"><br>
        </div> 
      <div class="form-group">
         Email address <br>
			<input type = "email" formControlName="email"><br>
        </div> 
            <div class="alert" *ngIf="!registrationForm.controls['email'].valid && registrationForm.controls['email'].touched">Please fill in valid email address</div>  
      <div class="form-group">
        			Phone number <br>
			<input type = "tel" formControlName="phoneNumber" ><br>
        </div>
              <div class="alert" *ngIf="!registrationForm.controls['phoneNumber'].valid && registrationForm.controls['phoneNumber'].touched">Please fill in valid phoneNumber</div> 
      <div class="form-group"> 
        	Date of Birth <br>
			<input type = "date" formControlName="dateOfBirth"> <br>
        </div> 
            <div class="alert" *ngIf="!registrationForm.controls['dateOfBirth'].valid && registrationForm.controls['dateOfBirth'].touched"> Please fill in your date of birth</div> 
      <div class="form-group">
        Zipcode <br>
			<input type = "text" formControlName="zipcode"> <br>
        </div> 
          <div class="alert" *ngIf="!registrationForm.controls['zipcode'].valid && registrationForm.controls['zipcode'].touched"> Please fill in your zipcode</div> 
      <div class="form-group">
        	Password <br>
			<input type="password" value="" formControlName="pw1"> <br>
        </div> 
      <div class="form-group">
        			Password confirmation <br>
			<input type="password" formControlName="pw2" value=""> <br>
        </div>  
        <div class="alert" *ngIf="(!registrationForm.controls['pw2'].valid || !registrationForm.controls['pw1'].valid) && registrationForm.controls['pw2'].touched">Passwords don't match</div>
      <input type="submit" class="btn" >
			<input type="reset" class="btn">
		</form>

</html>
