<!DOCTYPE html>
<html lang="en-US" dir="ltr">
	<head>
		<title>Login</title>
		<meta charset="utf-8">
		<meta name="author" content="Thomas Liang (zl34)">
	</head>
  <body>
	<div class = "miniProfile">
    <nav>
      <a routerLink = "/auth" routerLinkActive = "active"> Log out </a>
    </nav>
    <nav>
      <a routerLink = "/profile" routerLinkActive = "profile"> Profile </a>
    </nav>
    <img src="assets/Images/avatar.png" alt="">
    <div> <span> {{accountName}}</span>
    <br>
    <span>{{status}} <br></span>
    <input type="text" id = "newStatus"> 
    <button class = "btn" (click) = "onUpdate()">Update</button>
    </div> 
  </div>
  <div class = "friends" id ="myFriends">
      
  </div>
</body>
</html>
